<script>
  let clicked = false;
</script>

<div>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  {#if clicked == false}
		<span>
			<p>
				You have to click the button!
			</p>
			
		</span>
	{:else}
		<span>
			<p>
				You have clicked the button!
			</p>
		</span>
	{/if}
</div>
