<script>
    let student = ['Maria','Raindrops on roses','Whiskers on kittens','Bright copper kettles','Warm woolen mittens']
</script>

<p>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    My name is {student[0]} and these are some of my favourite things: {student[1]}, {student[2]}, {student[3]}, {student[4]}
=======
    My name is {console.log(student.name)} and these are some of my favourite things: 
>>>>>>> e2b7a25 (ex7)
=======
    My name is const.log(student[0]) and these are some of my favourite things: const.log(student[1]) 
>>>>>>> 9ca2019 (ex7)
=======
    My name is {student[0]} and these are some of my favourite things: {student[1]}
>>>>>>> 0b78afa (ex7)
=======
    My name is {student[0]} and these are some of my favourite things: {student[1]}, {student[2]}, {student[3]}, {student[4]}
>>>>>>> 1825e9c997003414eab2f87c9cc9dad5b55413e4
</p>