<script>
    let enabled = true;
    function circumf(x) {
        return x*2*3.1415
    };
	let radius = 4
</script>

<p>
    The circumference of a sphere with radius {radius}m is {circumf(radius).toFixed(2)}m.
</p>